.cells{
    border: 1px solid black;
    background-size: 100% 100%;
}
#map1{
    cursor: grabbing;
    margin-left: 150px;
    float: left;
    visibility: hidden;
    width:500px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}
#map2{
    cursor: default;
    float: left;
    margin-left: 50px;
    visibility: hidden;
    width:500px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}
